@import "NeueKabel.css";
@import "Montserrat.css";
@import "ReemKufi.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply !bg-bodyGradient bg-fixed bg-no-repeat text-white2inverse dark:!bg-bodyGradientInverse dark:text-white2;
}
